.global {
 margin: auto;
 width: 1920px;
 padding: 5px;
}

* {
 font-family: "Inter", sans-serif;
 font-size: 18px;
}

/*top header style*/
.topHeader {
 font-size: 16px;
 background-color: #2f333a;
 color: #fff;
 display: flex;
 flex: 1 1 auto;
 justify-content: space-between;
 padding-left: 80px;
 height: 57px;
}
.topHRight {
 display: flex;
 font-size: 16px;
 padding-right: 80px;
 gap: 24px;
}
.topHRight p:nth-child(2),
.topHRight p:nth-child(3),
.topHRight p:nth-child(5),
.topHRight p:nth-child(6) {
 cursor: pointer;
}

.lang_list_main {
 position: relative;
}

.lang_list {
 position: absolute;
 top: 40px;
 left: -10px;
 list-style: none;
 background-color: #2f333a;
 width: 100px;
}

.lang_list li {
 display: flex;
 align-items: center;
 justify-content: start;
 margin-bottom: 10px;
 cursor: pointer;
 transition: font-size 0.5s;
}
.lang_list li:hover {
 text-decoration: underline;
 font-size: 20px;
 font-weight: 500;
}

.middleHeader {
 height: 150px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo {
 padding-left: 80px;
}

.logo > p {
 font-family: "Inconsolata", monospace;

 font-size: 48px;
 font-weight: bold;
 text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.8);
}

.search {
 width: 600px;
}

.search > input {
 border: none;
 font-size: 20px;
 padding: 20px 0px;
 width: 100%;
}
.categorySearch {
 display: flex;
 gap: 20px;
}

.categSearch {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}

.categSearch p {
 cursor: pointer;
}

.catgChoice {
 list-style: none;
 font-size: 20px;
 display: flex;
 align-items: center;
 justify-content: start;
 padding: 1em 0em;
 cursor: pointer;
}

.categContainerList {
 position: relative;
}

.categContainerList ul {
 background-color: #2f333a;
 width: 100px;
 color: #fff;
 position: absolute;
 top: 15px;
 right: 10px;
 transition: all ease 2s;
}

.searchclick {
 background-color: #2f333a;
 width: 63px;
 height: 66px;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}

.contUs {
 padding-left: 20px;
}

.profile {
 display: flex;
 align-items: center;
}

.login {
 display: flex;
 font-size: 20px;
 gap: 20px;
 padding-right: 20px;
}

.login p {
 cursor: pointer;
}

.card {
 display: flex;
 padding-right: 80px;
 padding-left: 20px;
 gap: 15px;
}

.cardCount {
 background-color: #e73c17;
 width: 32px;
 height: 32px;
 border-radius: 50%;
}
.cardCount span {
 display: flex;
 align-items: center;
 justify-content: center;
 color: #fff;
 line-height: 1.9;
}

.mainHeader {
 background-color: #2f333a;
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: #fff;
 height: 76px;
}

.categories {
 min-width: 370px;
 padding-left: 80px;
 margin-top: auto;
}

.tire {
 display: inline-block;
 width: 25px;
 height: 3px;
 background-color: #fff;
 position: relative;
}

.tire::before,
.tire::after {
 content: "";
 position: absolute;
 width: 100%;
 height: 3px;
 background-color: #fff;
}

.tire::before {
 top: -10px;
}

.tire::after {
 bottom: -10px;
}

.catgcont {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #e73c17;
}

.catgcont span {
 cursor: pointer;
}

.catgcont > p {
 font-size: 24px;
 padding: 0px 25px;
}

.navBar {
 display: flex;
 justify-content: end;
 gap: 60px;
}

.navBar > div {
 display: flex;
 align-items: center;
}
.navBar p {
 padding-left: 10px;
}
.navBar > div > a {
 font-size: 16px;
 text-transform: uppercase;
 color: #fff;
 text-decoration: none;
 transition: font-size 0.5s;
}

.navBar a:hover {
 text-decoration: underline;
 font-size: 20px;
 font-weight: 500;
}

.callBack {
 width: 380px;
 display: flex;
 justify-content: center;
 border-left: 1px solid #fff;
}

.headerContact {
 font-size: 15px;
 display: flex;
 padding: 0px 10px;
 justify-content: center;
 text-transform: uppercase;
}

.headerPhone {
 display: flex;
 padding: 5px 10px;
 justify-content: center;
 cursor: pointer;
}

.categMenuList {
 padding: 0;
 display: flex;
 flex-direction: column;
 margin: 0;
 background-color: #e73c17;
}
.categList {
 display: block;
 text-transform: uppercase;
 padding-left: 1em;
 cursor: pointer;
 z-index: 1;
 margin-bottom: 1em;
 transition: font-size 0.5s;
}

.categList:hover {
 text-decoration: underline;
 font-size: 20px;
 font-weight: 500;
}

.categList:last-child {
 padding-bottom: 1em;
}
